/* --- RESET --- */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  font-family: 'Lato', sans-serif;
}

/* --- MY CSS BELOW --- */

#root {
  height: 100vh;
}

#page {
 width: 100%;
 height: 100%;
 background-color: #B0C9DC;
 display: grid;
 grid-template-rows: 50px 300px 20px 1fr;
 grid-template-areas:
    "n"
    "a"
    "margin1"
    "v";
}

#navbar {
  background-color: #537B9B;
  grid-area: n;
}

#animationBanner {
  background-color: #DBE8F2;
  grid-area: a;
}

#vizIndex {
  grid-area: v;
  justify-items: stretch;
  display: grid;
  grid-template-columns: 20px 1fr 1fr 1fr 20px;
  grid-template-rows: 1fr 20px;
  grid-template-areas:
    "x t t t y"
    "b b b b b";
  background-color: #B0C9DC;
}

#vizIndexInnerContainer {
  width: 100%;
  grid-area: t;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "pic pic pic";
}

.thumbnailContainer {
  border: 1px solid black;
  position: relative;
  padding: 10px;
  background-color: white;
}

.vizThumbnailImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.imageLabelContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageLabelContainer.hidden {
  background-color: transparent;
}

.imageLabelContainer.hidden #imageLabel,
.imageLabelContainer.hidden #imageSublabel {
  display: none;
}

 #imageLabel, #imageSublabel  {
   pointer-events: none;
   color: white;
   font-size: 20px;
   opacity: 1;
 }

@media (max-width: 1025px) {
  #vizIndexInnerContainer {
    grid-template-areas:  "pic pic";
  }
}

@media (max-width: 700px) {
    #vizIndexInnerContainer {
    grid-template-areas: "pic";
  }
}
