/* --- RESET --- */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  font-family: 'Lato', sans-serif;
}

/* --- MY CSS BELOW --- */

#root {
  height: 100vh;
}

#page {
 width: 100%;
 height: 100%;
 background-color: #B0C9DC;
 display: grid;
 grid-template-rows: 50px 300px 20px 1fr;
 grid-template-areas:
    "n"
    "a"
    "margin1"
    "v";
}

#navbar {
  background-color: #537B9B;
  grid-area: n;
}

#animationBanner {
  background-color: #DBE8F2;
  grid-area: a;
  display: flex;
  align-items: center;
}

#vizIndex {
  grid-area: v;
  justify-items: stretch;
  display: grid;
  grid-template-columns: 20px 1fr 1fr 1fr 20px;
  grid-template-rows: 1fr 20px;
  grid-template-areas:
    "x t t t y"
    "b b b b b";
  background-color: #B0C9DC;
}

#vizIndexInnerContainer {
  width: 100%;
  grid-area: t;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "pic pic pic";
}

.thumbnailContainer {
  border: 1px solid black;
  position: relative;
  padding: 10px;
  background-color: white;
}

.vizThumbnailImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.imageLabelContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageLabelContainer.hidden {
  background-color: transparent;
}

.imageLabelContainer.hidden #imageLabel,
.imageLabelContainer.hidden #imageSublabel {
  display: none;
}

 #imageLabel, #imageSublabel  {
   pointer-events: none;
   color: white;
   font-size: 20px;
   opacity: 1;
 }

.cubeWrap {
  margin: 0 auto;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}
.cubeWrap .cube {
  margin: auto;
  position: relative;
  height: 100px;
  width: 100px;
  transform-style: preserve-3d;
}

.cubeWrap .cube > * div {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  border: 2px solid #fff;
  line-height: 80px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: white;
}
.cubeWrap .front { transform: translateZ(50px); }
.cubeWrap .back { transform: translateZ(-50px) rotateY(180deg); }

.cubeWrap .right {
  transform: rotateY(-270deg) translateX(50px);
  transform-origin: top right;
}

.cubeWrap .left {
  transform: rotateY(270deg) translateX(-50px);
  transform-origin: center left;
}

.cubeWrap .top {
  transform: rotateX(-270deg) translateY(-50px);
  transform-origin: top center;
}

.cubeWrap .bottom {
  transform: rotateX(270deg) translateY(50px);
  transform-origin: bottom center;
}

@keyframes rotate {
  from { transform: rotateX(0deg) rotateY(0deg); }
  to { transform: rotateX(360deg) rotateY(360deg); }
}

.cubeWrap .cube { animation: rotate 20s infinite linear; }
.cubeWrap:hover .front { transform: translateZ(100px); }
.cubeWrap:hover .back { transform: translateZ(-100px) rotateY(180deg); }

.cubeWrap:hover .right {
  transform: rotateY(-270deg) translateZ(50px) translateX(50px);
}

.cubeWrap:hover .left {
  transform: rotateY(270deg) translateZ(50px) translateX(-50px);
}

.cubeWrap:hover .top {
  transform: rotateX(-270deg) translateZ(50px) translateY(-50px);
}

.cubeWrap:hover .bottom {
  transform: rotateX(270deg) translateZ(50px) translateY(50px);
}

.cubeWrap .cube > * div { transition: transform 0.2s ease-in; }

.cubeWrap .front  { background: hsla( 160, 100%, 50%, 0.7 ); }
.cubeWrap .back   { background: hsla( 000, 100%, 50%, 0.7 ); }
.cubeWrap .left   { background: hsla( 120, 100%, 50%, 0.7 ); }
.cubeWrap .right  { background: hsla( 180, 100%, 50%, 0.7 ); }
.cubeWrap .bottom { background: hsla( 240, 100%, 50%, 0.7 ); }
.cubeWrap .top    { background: hsla( 300, 100%, 50%, 0.7 ); }

.cubeWrap .cube > * div:hover {
  background-color: cornflowerblue;
  border: none;
  outline: 2px dashed cornflowerblue;
  color: #31374F;
}

@media (max-width: 1025px) {
  #vizIndexInnerContainer {
    grid-template-areas:  "pic pic";
  }
}

@media (max-width: 700px) {
    #vizIndexInnerContainer {
    grid-template-areas: "pic";
  }
}
